@import "base.scss";

:host {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background: color(background);
  margin: 0 -10px 0 -10px;
  padding: 0 0 0 10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  @extend .bg-white;
  & > .nav {
    margin: 25px 25px 35px;
    transition: 0.5s ease;
    cursor: pointer;
    color: rgba(color(dark), 0.7);
    &:first-of-type,
    &:last-of-type {
      margin-left: 0;
      padding-left: 0;
    }

    &.link-active {
      color: color(dark);
    }

    &.right {
      margin-top: 15px;
      right: 0px;
      display: flex;
      position: absolute;
      align-items: center;
    }
  }

  & > .underline,
  & > .active {
    width: 0;
    height: 2px;
    background: color(light);
    top: 55px;
    position: absolute;
    transition: 0.5s ease;
  }

  .underline {
    width: 100%;
  }

  .active {
    z-index: 1;
    background: color(primary);
  }
}
